<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>
<body>
    <main>
        <div>
        <h1>My Tasks</h1>
            <table>
                <thead>
                    {% if tasks %}
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>

                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    {% else %}
                        <p>You have no tasks</p>
                    {% endif %}
        </div>
    </main>
</body>
</html>
