<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ Project.name }}</h1>
            <p>{{ Project.decription }}</p>
            <h2>Tasks</h2>
            {% if project.Tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th> Is complete</th>
                        </tr>
            {% else %}
            <p>This project has no tasks</p>
                    </thead>
                    <tbody>
                        {% for detail in show_project.all %}
                        <tr>
                            <td>{{Project.name}}</td>
                            <td>{{Project.owner}}</td>
                            <td>{{Project.Start}}</td>
                            <td>{{Prodject.Due}}</td>
                        </tr>
                        {% endfor %}
            {% endif %}
                    </tbody>
                </table>
        </div>
    </main>
</body>
</html>
