<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Projects</title>
</head>
<body>
<main>
    <div>
        <h1>My Projects</h1>
            {% if project == null %}
            <p>You are not assigned to any projects</p>
            {% endif %}
        <table>
            {% if project == null %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>

            {% for project in list_projects %}
                <tr>
                    <td>{{ project.name }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
